## 문제 141~150

In [1]:
import pandas as pd
import numpy as np

In [3]:
# 141
data = [
    {"cd":"A060310", "nm":"3S", "open":2920, "close":2800},
    {"cd":"A095570", "nm":"AJ네트웍스", "open":1920, "close":1900},
    {"cd":"A006840", "nm":"AK홀딩스", "open":2020, "close":2010},
    {"cd":"A054620", "nm":"APS홀딩스", "open":3120, "close":3200}
]
df = pd.DataFrame(data=data)
df = df.set_index('cd')
df

             nm  open  close
cd
A060310      3S  2920   2800
A095570  AJ네트웍스  1920   1900
A006840   AK홀딩스  2020   2010
A054620  APS홀딩스  3120   3200

In [5]:
df.query(df['close'] > df['open'])

ValueError: expr must be a string to be evaluated, <class 'pandas.core.series.Series'> given

In [6]:
# 141 answer
df.query("close > open")

             nm  open  close
cd
A054620  APS홀딩스  3120   3200

In [8]:
# 142
df.query("close > 3000")

             nm  open  close
cd
A054620  APS홀딩스  3120   3200

In [11]:
# 143
cond = "open > 2000 & close >= open"
df.query(cond)

             nm  open  close
cd
A054620  APS홀딩스  3120   3200

In [17]:
# 144
cond = "nm.str.startswith('A')"
df.query(cond)

             nm  open  close
cd
A095570  AJ네트웍스  1920   1900
A006840   AK홀딩스  2020   2010
A054620  APS홀딩스  3120   3200

In [18]:
# 145
cond = "nm.str.contains('홀딩스')"
df.query(cond)

             nm  open  close
cd
A006840   AK홀딩스  2020   2010
A054620  APS홀딩스  3120   3200

In [21]:
# 146
data = np.arange(6).reshape(2,3)
columns = ['col 0', 'col 1', 'col 2']
df = pd.DataFrame(data=data, columns=columns)
df

   col 0  col 1  col 2
0      0      1      2
1      3      4      5

In [26]:
df.query("'col 0'.int.contains('0')")

AttributeError: 'str' object has no attribute 'int'

In [27]:
# 146 answer
df.query("`col 0` == 0")

   col 0  col 1  col 2
0      0      1      2

In [28]:
# 147
data = {
    "PER": [6.42, 17.63, 21.09, 13.93],
    "PBR": [1.10, 1.49, 2.06, 1.88],
    "DPS": [1416, 1716, 2994, 1755]
}
index = ["2019/12", "2020/12", "2021/12", "2022/12(E)"]
df = pd.DataFrame(data=data, index=index)
df

              PER   PBR   DPS
2019/12      6.42  1.10  1416
2020/12     17.63  1.49  1716
2021/12     21.09  2.06  2994
2022/12(E)  13.93  1.88  1755

In [31]:
df.filter(('PER', 'PBR'))

              PER   PBR
2019/12      6.42  1.10
2020/12     17.63  1.49
2021/12     21.09  2.06
2022/12(E)  13.93  1.88

In [32]:
# 148
cond = df.str.contains(r'[P]', regex=True)
df.filter(cond)

AttributeError: 'DataFrame' object has no attribute 'str'

In [36]:
# 148 chatgpt 3.5 version
pattern = r'[P]'
df.filter((like:=pattern, axis=1, regex=True))

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1295575535.py, line 3)

In [37]:
# 148 answer
df.filter(regex="P.R", axis=1)

              PER   PBR
2019/12      6.42  1.10
2020/12     17.63  1.49
2021/12     21.09  2.06
2022/12(E)  13.93  1.88

In [38]:
# 149
df.filter(regex=r'.(E)', axis=1, case=False)

TypeError: NDFrame.filter() got an unexpected keyword argument 'case'

In [39]:
# 149 answer
df.filter(regex="12$", axis=0)

           PER   PBR   DPS
2019/12   6.42  1.10  1416
2020/12  17.63  1.49  1716
2021/12  21.09  2.06  2994

In [41]:
# 150
pattern = r'[2022]'
df.filter(like=pattern, axis=0)

Empty DataFrame
Columns: [PER, PBR, DPS]
Index: []

In [42]:
# 150 answer
df.filter(like="2022", axis=0)

              PER   PBR   DPS
2022/12(E)  13.93  1.88  1755

## 문제 151~160

In [45]:
# 151
import datetime

columns = ['open', 'high', 'low', 'close']
index1 = [
    datetime.datetime(2022, 9, 8),
    datetime.datetime(2022, 9, 7),
    datetime.datetime(2022, 9, 6),
    datetime.datetime(2022, 9, 5),
    datetime.datetime(2022, 9, 2)
]

index2 = [
    datetime.datetime(2022, 9, 1),
    datetime.datetime(2022, 8, 31),
    datetime.datetime(2022, 8, 30),
    datetime.datetime(2022, 8, 29),
    datetime.datetime(2022, 8, 26)
]

df1 = pd.DataFrame(data=np.arange(0, 20).reshape(5,4), index=index1, columns=columns)
df2 = pd.DataFrame(data=np.arange(20,40).reshape(5,4), index=index2, columns=columns)

print(df1)
print(df2)

            open  high  low  close
2022-09-08     0     1    2      3
2022-09-07     4     5    6      7
2022-09-06     8     9   10     11
2022-09-05    12    13   14     15
2022-09-02    16    17   18     19
            open  high  low  close
2022-09-01    20    21   22     23
2022-08-31    24    25   26     27
2022-08-30    28    29   30     31
2022-08-29    32    33   34     35
2022-08-26    36    37   38     39

In [48]:
concat_df = pd.concat([df1, df2], axis=0)
concat_df

            open  high  low  close
2022-09-08     0     1    2      3
2022-09-07     4     5    6      7
2022-09-06     8     9   10     11
2022-09-05    12    13   14     15
2022-09-02    16    17   18     19
2022-09-01    20    21   22     23
2022-08-31    24    25   26     27
2022-08-30    28    29   30     31
2022-08-29    32    33   34     35
2022-08-26    36    37   38     39

In [49]:
concat_df.sort_index(ascending=True)

            open  high  low  close
2022-08-26    36    37   38     39
2022-08-29    32    33   34     35
2022-08-30    28    29   30     31
2022-08-31    24    25   26     27
2022-09-01    20    21   22     23
2022-09-02    16    17   18     19
2022-09-05    12    13   14     15
2022-09-06     8     9   10     11
2022-09-07     4     5    6      7
2022-09-08     0     1    2      3

In [50]:
# 153
index = [
    datetime.datetime(2022, 9, 8),
    datetime.datetime(2022, 9, 7),
    datetime.datetime(2022, 9, 6),
    datetime.datetime(2022, 9, 5),
    datetime.datetime(2022, 9, 2)
]

df1 = pd.DataFrame(data=np.arange(0, 10).reshape(5,2), index=index, columns=['open', 'high'])
df2 = pd.DataFrame(data=np.arange(10,20).reshape(5,2), index=index, columns=['low', 'close'])

In [51]:
df1

            open  high
2022-09-08     0     1
2022-09-07     2     3
2022-09-06     4     5
2022-09-05     6     7
2022-09-02     8     9

In [52]:
df2

            low  close
2022-09-08   10     11
2022-09-07   12     13
2022-09-06   14     15
2022-09-05   16     17
2022-09-02   18     19

In [53]:
pd.concat([df1, df2], axis=1)

            open  high  low  close
2022-09-08     0     1   10     11
2022-09-07     2     3   12     13
2022-09-06     4     5   14     15
2022-09-05     6     7   16     17
2022-09-02     8     9   18     19

In [54]:
# 154
index1 = [
    datetime.datetime(2022, 9, 8),
    datetime.datetime(2022, 9, 7)
]

index2 = [
    datetime.datetime(2022, 9, 6),
    datetime.datetime(2022, 9, 5)
]
df1 = pd.DataFrame(np.arange(0, 6).reshape(2,3), index=index1, columns=['open', 'high', 'low'])
df2 = pd.DataFrame(np.arange(6,12).reshape(2,3), index=index2, columns=['high', 'low', 'close'])

In [55]:
df1

            open  high  low
2022-09-08     0     1    2
2022-09-07     3     4    5

In [56]:
df2

            high  low  close
2022-09-06     6    7      8
2022-09-05     9   10     11

In [57]:
pd.concat([df1, df2], join='outer')

            open  high  low  close
2022-09-08   0.0     1    2    NaN
2022-09-07   3.0     4    5    NaN
2022-09-06   NaN     6    7    8.0
2022-09-05   NaN     9   10   11.0

In [58]:
# 154 answer
pd.concat([df1, df2], axis=0, join='outer')

            open  high  low  close
2022-09-08   0.0     1    2    NaN
2022-09-07   3.0     4    5    NaN
2022-09-06   NaN     6    7    8.0
2022-09-05   NaN     9   10   11.0

In [59]:
# 155
pd.concat([df1, df2], axis=0, join='inner')

            high  low
2022-09-08     1    2
2022-09-07     4    5
2022-09-06     6    7
2022-09-05     9   10

In [64]:
# 156
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])

pd.concat([s1, s2], axis=0).set_index(s1['index'])

AttributeError: 'Series' object has no attribute 'set_index'

In [65]:
# 157
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])
pd.concat([s1, s2], axis=1)

   0  1
0  a  c
1  b  d

In [66]:
# 158
df1 = pd.DataFrame(np.arange(0, 4).reshape(2,2))
df2 = pd.DataFrame(np.arange(4, 8).reshape(2,2))

pd.concat([df1, df2], ignore_index=True)

   0  1
0  0  1
1  2  3
2  4  5
3  6  7

In [67]:
# 159
index = ["2020", "2021"]

data1 = {
    "PER": [21.09, 13.55],
    "PBR": [2.06, 1.80]
}

data2 = {
    "PER": [12.40, 24.19],
    "PBR": [1.58, 1.44]
}

df1 = pd.DataFrame(data=data1, index=index)
df2 = pd.DataFrame(data=data2, index=index)

In [68]:
df1

        PER   PBR
2020  21.09  2.06
2021  13.55  1.80

In [69]:
df2

        PER   PBR
2020  12.40  1.58
2021  24.19  1.44

In [71]:
ccat_df = pd.concat([df1, df2], axis=0, ignore_index=False)
ccat_df

        PER   PBR
2020  21.09  2.06
2021  13.55  1.80
2020  12.40  1.58
2021  24.19  1.44

In [73]:
index = ['삼성전자', 'LG전자']
ccat_df.set_index(index=index)

TypeError: DataFrame.set_index() got an unexpected keyword argument 'index'

In [75]:
index_tuples = [('삼성전자', '2020'), ('삼성전자', '2021'), ('LG전자', '2020'), ('LG전자', '2021')]
index = pd.MultiIndex.from_tuples(index_tuples) # 인덱스 설정
data1 = {
    "PER": [21.09, 13.55],
    "PBR": [2.06, 1.80]
}

data2 = {
    "PER": [12.40, 24.19],
    "PBR": [1.58, 1.44]
}

df1 = pd.DataFrame(data=data1, index=index)
df2 = pd.DataFrame(data=data2, index=index)

ValueError: Length of values (2) does not match length of index (4)

In [76]:
# 159 chatgpt4 version

# Data for 'PER' and 'PBR' values
per_values = [21.09, 13.55, 12.40, 24.19]
pbr_values = [2.06, 1.80, 1.58, 1.44]

# MultiIndex using the company names and years
companies = ['삼성전자', '삼성전자', 'LG전자', 'LG전자']
years = [2020, 2021, 2020, 2021]
multi_index = pd.MultiIndex.from_arrays([companies, years], names=('Company', 'Year'))

# Create the DataFrame with the MultiIndex
df = pd.DataFrame({'PER': per_values, 'PBR': pbr_values}, index=multi_index)

In [77]:
df

                PER   PBR
Company Year
삼성전자    2020  21.09  2.06
        2021  13.55  1.80
LG전자    2020  12.40  1.58
        2021  24.19  1.44

In [79]:
# 160 answer
pd.concat([df1, df2], keys=["삼성전자", "LG전자"], names=["종목명", "연도"])

             PER   PBR
종목명  연도
삼성전자 2020  21.09  2.06
     2021  13.55  1.80
LG전자 2020  12.40  1.58
     2021  24.19  1.44