## 문제 51~60

In [1]:
# 51
import pandas as pd

In [2]:
# 52
dict = {'점수': [100, 200, 300]}
pd.Series(dict)

점수    [100, 200, 300]
dtype: object

In [4]:
# 52 answer
data = [100, 200, 300]
s = pd.Series(data)
print(s)

0    100
1    200
2    300
dtype: int64

In [6]:
# 53
name = ['Alex', 'Josh', 'Rhianna']
s.index(name)

TypeError: 'RangeIndex' object is not callable

In [8]:
# 53 answer
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s =pd.Series(data, index)
print(s)

철수    100
영희    200
아름    300
dtype: int64

In [9]:
# 54
dict_series = {'score': [100, 200, 300],
               'index': ['Alex', 'Josh', 'Rhianna']
              }
test_scores = pd.Series(dict_series['score'], dict_series['index'])
test_scores

Alex       100
Josh       200
Rhianna    300
dtype: int64

In [12]:
# 54 answer
score = {
    "철수": 100,
    "영희": 200,
    "아름": 300
}

s = pd.Series(score)
s

철수    100
영희    200
아름    300
dtype: int64

In [14]:
# 55
dict_stocks = {'Samsung': 73000,
               'Celltrion': 356000,
               'Kakao': 367000,
               'Samsung_preferred': 68600,
               'Hyundai Bio': 34150
              }
stock_price = pd.Series(dict_stocks)
stock_price

Samsung               73000
Celltrion            356000
Kakao                367000
Samsung_preferred     68600
Hyundai Bio           34150
dtype: int64

In [15]:
# 56
stock_price.index

Index(['Samsung', 'Celltrion', 'Kakao', 'Samsung_preferred', 'Hyundai Bio'], dtype='object')

In [17]:
# 57
stock_price.values

array([ 73000, 356000, 367000,  68600,  34150], dtype=int64)

In [18]:
# 58
stock_price.to_dict()

{'Samsung': 73000,
 'Celltrion': 356000,
 'Kakao': 367000,
 'Samsung_preferred': 68600,
 'Hyundai Bio': 34150}

In [19]:
# 59
# 스킵....

In [20]:
# 60
# 스킵

## 문제 61~70

In [21]:
# 61
stock_price.dtype

dtype('int64')

In [22]:
# 62 skip

In [23]:
# 63
stock_price.index.dtype

dtype('O')

In [24]:
# 64
stock_price.name = 'stock price'
stock_price.index.name = 'company'
stock_price

company
Samsung               73000
Celltrion            356000
Kakao                367000
Samsung_preferred     68600
Hyundai Bio           34150
Name: stock price, dtype: int64

In [26]:
# 64 answer
data = {
    "2020-12-11": 73400,
    "2020-12-10": 72900,
    "2020-12-09": 73900,
    "2020-12-08": 71700,
    "2020-12-07": 72900
}

s = pd.Series(data)
s.name = "종가"
s.index.name = "날짜"
s

날짜
2020-12-11    73400
2020-12-10    72900
2020-12-09    73900
2020-12-08    71700
2020-12-07    72900
Name: 종가, dtype: int64

In [28]:
# 65
data = {"apple": 1500, "banana": 3000}
s = pd.Series(data)
s.to_dict()

{'apple': 1500, 'banana': 3000}

In [30]:
# 66
s.index.name = 'icecream'

In [31]:
# 67
s = pd.Series(data=[1,2,3])
s.name = 'number'
s

0    1
1    2
2    3
Name: number, dtype: int64

In [35]:
# 68
import numpy as np
data = [1, 2, np.nan]
np.array(data).astype('float64')
s = pd.Series(data)
s

0    1.0
1    2.0
2    NaN
dtype: float64

In [37]:
# 69
a = pd.Series([1, 2, 3])
a.index.to_numpy()

array([0, 1, 2], dtype=int64)

In [41]:
# 70
s = pd.Series([1, 2, 3]).array
s

<NumpyExtensionArray>
[1, 2, 3]
Length: 3, dtype: int64

## 문제 71~80

In [42]:
# 71
s = pd.Series([1, 2, 'python'])
print(s.dtype)

object

In [43]:
# 72
s = pd.Series(['1', '2', '3'])
s.astype('int32')

0    1
1    2
2    3
dtype: int32

In [45]:
# 73
coin_price = {'BTC': 50000,
              'XRP': 1,
              'ETH': 4000
             }
coin_series = pd.Series(coin_price, dtype='float')
coin_series

BTC    50000.0
XRP        1.0
ETH     4000.0
dtype: float64

In [47]:
# 73 answer
tickers = ["BTC", "XRP", "ETH"]
prices = [50000, 1, 4000]

s = pd.Series(data=prices, index=tickers, dtype='float')
s

BTC    50000.0
XRP        1.0
ETH     4000.0
dtype: float64

In [49]:
# 74
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = pd.Series(data, index)
s["영희"]

200

In [50]:
# 75
s.iloc[1]

200

In [67]:
# 76
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = pd.Series(data, index)
s.loc["영희"]

200

In [52]:
# 77
# s."영희"

In [55]:
# 78
s.iloc[:2]

철수    100
영희    200
dtype: int64

In [56]:
# 78 정답
print(s.iloc[0:2])
print(s.iloc[ :2])
print(s.loc["철수":"영희"])
print(s[0:2])
print(s[ :2])
print(s["철수":"영희"])
print(s.values[:2])

철수    100
영희    200
dtype: int64
철수    100
영희    200
dtype: int64
철수    100
영희    200
dtype: int64
철수    100
영희    200
dtype: int64
철수    100
영희    200
dtype: int64
철수    100
영희    200
dtype: int64
[100 200]

In [59]:
# 79
data = [100, 200, 300, 400, 500, 600]
index = ["08/01", "08/02", "08/03", "08/04", "08/05", "08/06"]
s = pd.Series(data, index)
s.index[:3]

Index(['08/01', '08/02', '08/03'], dtype='object')

In [60]:
# 79 answer
print(s.iloc[0:3].index)

Index(['08/01', '08/02', '08/03'], dtype='object')

In [64]:
# 80
data = [100, 200, 300, 400, 500, 600] 
index = ["08/01", "08/02", "08/03", "08/04", "08/05", "08/06"] 
s = pd.Series(data, index)
s.iloc[:5:2]

08/01    100
08/03    300
08/05    500
dtype: int64

In [66]:
# 80 answer
print(s.iloc[ : :2])
print(s[ : :2])

print(s.loc["08/01":"08/06":2])
print(s["08/01":"08/06":2])

print(s.iloc[[0, 2, 4]])

08/01    100
08/03    300
08/05    500
dtype: int64
08/01    100
08/03    300
08/05    500
dtype: int64
08/01    100
08/03    300
08/05    500
dtype: int64
08/01    100
08/03    300
08/05    500
dtype: int64
08/01    100
08/03    300
08/05    500
dtype: int64

In [70]:
# 81
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = pd.Series(data, index)
s["순희"] = 400
s

철수    100
영희    200
아름    300
순희    400
dtype: int64

In [73]:
# 82
s.drop("철수")

영희    200
아름    300
순희    400
dtype: int64

In [78]:
# 83
s

영희    200
아름    300
순희    400
dtype: int64

In [79]:
# 84
data = {
    "삼성전자": "전기,전자",
    "LG전자": "전기,전자",
    "현대차": "운수장비",
    "NAVER": "서비스업",
    "카카오": "서비스업"
}
s = pd.Series(data)
s.unique

<bound method Series.unique of 삼성전자     전기,전자
LG전자     전기,전자
현대차       운수장비
NAVER     서비스업
카카오       서비스업
dtype: object>

In [80]:
import pandas as pd

s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)
s.unique

<bound method Series.unique of 김과장     9000
이대리     9000
박전무     8000
이대리     9000
이대리    10000
dtype: int64>

In [81]:
# 85
s.index.unique

In [82]:
# 86
s.value_counts()

9000     3
8000     1
10000    1
Name: count, dtype: int64

In [84]:
# 87
s.index.value_counts()

이대리    3
김과장    1
박전무    1
Name: count, dtype: int64

In [ ]:
# 88

## 문제 91~100

In [85]:
# 91
data = [100, 300, 200]
index = ["08/01", "08/02", "08/03"]
s = pd.Series(data, index)
s.sort()

AttributeError: 'Series' object has no attribute 'sort'

In [86]:
# 91 answer
print(s.iloc[ [0, 2, 1]])
print(s.loc[ ["08/01", "08/02", "08/03"]])

08/01    100
08/03    200
08/02    300
dtype: int64
08/01    100
08/02    300
08/03    200
dtype: int64

In [87]:
# 92
data = np.random.randint(10, size=4)
s = pd.Series(data)
s.sort_values()

1    4
2    6
3    7
0    9
dtype: int32

In [88]:
# 92 answer
s.sort_values(ascending=False)

0    9
3    7
2    6
1    4
dtype: int32

In [93]:
# 93
s = pd.Series(np.random.randint(10, size=4), ["b", "c", "a", "d"])
s.index.sort_values()
pd.Series(np.random.randint(10, size=4), s.index.sort_values())

a    3
b    7
c    9
d    5
dtype: int32

In [94]:
# 93 answer
s.sort_index()

a    1
b    5
c    0
d    8
dtype: int32

In [98]:
# 94
data = list(map(lambda x: x ** 4, [100, 300, 200]))
s = pd.Series(data)
s

0     100000000
1    8100000000
2    1600000000
dtype: int64

In [100]:
# 94 answer
# print(data ** 4)

In [103]:
# 95
data = [100, 300, 200]
s0 = pd.Series(data, ["a", "b", "c"])
s1 = pd.Series(data, ["a", "c", "b"])
print(s0 + s1)

a    200
b    500
c    500
dtype: int64

In [106]:
# 96
high = pd.Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])
low = pd.Series(data=[50700, 50500, 50500], index=["5/1", "5/2", "5/4"])

diff = high - low
print(diff)

5/1    800.0
5/2    700.0
5/3      NaN
5/4      NaN
dtype: float64

In [108]:
# 97
s = pd.Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])
cond = s.iloc[:] < 52000
s[cond]

5/1    51500
5/2    51200
dtype: int64

In [110]:
# 98 정답
조건 = s.index > "5/1"
print(s.loc[조건])

5/2    51200
5/3    52500
dtype: int64

In [114]:
# 99
s = pd.Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])
cond = s >= 51400 & s <= 53000
s[cond]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().